<template lang="pug">
  #app.todo-app
    <to-do-list></to-do-list>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import ToDoList from '../src/components/ToDoList.vue'
export default defineComponent({
  name: 'App',
  components: { ToDoList },
  setup() {
    // utilise todo-bitpanda-server to get data

    return {
      message: 'Todo list should be here',
    };
  },
});
</script>

<style lang="scss">
.todo-app {
  text-align: center;
}
</style>
