<template>
    <div>
        <div class="search">
            <span>
                <i class="fas fa-search"></i>
            </span>
            <input @input="filterList($event)" class="search-bar" placeholder="search" type="search" v-model="searchValue">
        </div>
        <div class="cards-container">
            <div class="card">
                <input class="add-note" placeholder="Take a note" type="text" v-model="newNote">
                <div @click="addNewNote" class="add-new-note-icon">
                    <i class="fas fa-plus"></i>
                </div>
            </div>
            <div class="card" style="cursor: pointer"  v-for="(note, index) in notesToDisplay" :key="index">
                <div class="card-content">
                    <div class="card-inner-content">
                        <div class="unchecked-icon" v-if="!note.done" @click="doneItem(index)">
                            <i  class="far fa-circle"></i>
                        </div>
                        <div class="checked-icon" v-show="note.done" @click="undoneItem(index)">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <span class="note-name" :class="{'done-text':note.done}" >{{note.name}}</span>
                    </div>
                    <span class="note-time">{{setTime(note.time)}}</span>
                </div>
                <div class="clear-icon" @click="deleteItem(index)">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            
        </div>
        <div style="display:flex; justify-content: flex-end; align-items: center; margin:16px 16px 0 0 ">
            <div class="arrow-left" @click="nextPage">
                <i class="fas fa-arrow-left"></i>
            </div>
            <div @click="previousPage">
                <i class="fas fa-arrow-right"></i>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
export default Vue.extend({
    data() {
        return {
            notesToDisplay: [] as any,
            localArray: [] as any,
            newNote: "",
            info: null,
            test: false,
            checked: {},
            picked: null,
            searchValue: '',
            notes: [
                {
                    name: "Think realy hard about whats for lunch",
                    time: 1613991913573,
                    done: false
                },
                {
                    name: "Buy some Pantos and start looking for Lambos",
                    time: 1613992913543,
                    done: false
                },
                {
                    name: "Be a bit panda",
                    time: 1613994913273,
                    done: false
                }
            ],
            secondNotes: [
                {
                    name: "It is a long established fact that a reader will be distracted",
                    time: 1613994913571,
                    done: false
                },
                {
                    name: "There are many variations of passages",
                    time: 1612994913111,
                    done: false
                },
                {
                    name: "Contrary to popular belief, Lorem Ipsum is not simply random text, Contrary to popular belief, Lorem Ipsum is not simply random text",
                    time: 1611993122222,
                    done: false
                }
            ]
        }
    },
    created() {
        this.notesToDisplay = this.notes
        this.localArray = JSON.parse(JSON.stringify(this.notesToDisplay))
        // get data from db with axios (not the real one, just a url found on google)
        this.axios.get('https://reqres.in/api/products/1')
            .then(response => {
                // this.notesToDisplay = response.data
                console.log(response)
            })
            .catch(error => {
                console.log(error);
            });
    },
    methods: {
        filterList() {
            this.notesToDisplay = this.localArray.filter((elem: { name: string })=> { 
                return elem.name.toLowerCase().includes(this.searchValue.toLowerCase())
                })
        },
        // show how long ago the task was created from timeStamp
        setTime(time:number) {
            let message = ""
            let diff = Math.ceil((Date.now() - time)/1000/60);
            if (diff > 1440) {
                message = `- ${Math.ceil(diff/1440)} days`
            }else if (diff > 60) {
                message = `- ${Math.ceil(diff/1440)} hours`
            } else {
                message = `- ${diff} minutes`
            }
            return message
        },
        nextPage() {
            // api call goes here
            this.notesToDisplay = this.secondNotes
        },
        previousPage() {
            this.notesToDisplay = this.notes
        },
        addNewNote() {
            const newNote = {
                name: this.newNote,
                time: Date.now(),
                done: false
            }
            this.notes.unshift(newNote);
            this.newNote = "";
            // api POST new note
            // this.axios.post('/login', newNote)
            //     .then((response) => {
            //     console.log(response);
            //     }, (error) => {
            //     console.log(error);
            //     });
        },
        deleteItem(index:number) {
            this.notesToDisplay.splice(index, 1);
            // api delete note
            // this.axios.delete(`https://reqres.in/api/products/${index}`, {
            //     }).then(response => {
            //         console.log(response.data);
            //     }).catch(error => {
            //         console.log(error); 
            //     });
        },
        doneItem(index:number) {
            this.notesToDisplay[index].done = true
        },
        undoneItem(index:number) {
            this.notesToDisplay[index].done = false
        }
    }
})
</script>

<style lang="scss" scoped>
.note-time {
    white-space: nowrap;
    font-size: 12px;
    margin-left: 8px
}
.add-new-note-icon {
    cursor: pointer;
}
.card:hover /deep/ {
    .clear-icon {
        visibility: visible;
    }
}
.clear-icon {
    margin-left: 8px;
    visibility: hidden;
    font-size: 24px;
    opacity: 0.3;
}
.note-name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.card-content {
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.card-inner-content {
    text-align: left;
    display: flex; 
    align-items: center;
}
.checked-icon {
    font-size: 24px;
    margin-right: 8px;
    color: green

}
.unchecked-icon {
    font-size: 24px;
    margin-right: 8px;
}
.done-text {
    text-decoration:line-through;
    opacity: 0.5;
}
.search-bar {
    width: 100%;
    background-color: transparent;
    height: 40px;
    border-radius: 14px;
    border-color: transparent;
    // margin-bottom: 16px;
    outline: none;
}
.search {
    padding: 0 16px;
    display: flex;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.418);
    border-radius: 14px;
    margin-bottom: 16px;
}
.add-note {
    width: 100%;
    height: calc(100% - 2px);
    border: none;
    outline: none;
}
.cards-container {
    border: 1px solid rgba(0, 0, 0, 0.356); 
    border-radius: 10px;
}
.cards-container div:last-child {
    border-bottom: none;
}
.card {
    padding: 0 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.356);
    height: 60px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}
.arrow-left {
    margin-right: 4px;
}
</style>